.main-content {
    width: 100%;
    height: 100%;
    margin: auto;

    .content{
        display: flex;
        flex-direction: column;
        width: 1400px;
        background-color: #3c3c3c;
        padding: 20px 20px 20px 20px;
        overflow: auto;
        border-radius: 10px;
        margin: auto;

        .search{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 350px;
            padding-bottom: 20px;
            margin: auto;
            
            .serInput{
                width: 300px;
                height: 40px;
                border-radius: 4px;
                border: 1px solid rgb(146, 146, 146);
                padding: 0px 0px 0px 10px;
                margin-right: 5px;
            }

            .searchButton{
                background-color: #fcb900;
                color: white;
                cursor: pointer;
                width: 80px;
                height: 40px;
                font-size: 18px;
                border-radius: 4px;
                border: none;

                &:hover{
                    background-color: #daa000;
                    color: white;
                }
            }
        }
        .movie{
            width: 1000px;
            padding-right: 30px;
            margin: auto;

        }

    }
    .pag{
        padding-top: 20px;
        margin: auto;
        color: white;
    }
}