.pag-bl{
    color: white;
    padding: 90px;
}
.Pagination{
    color: white;
    padding: 90px;
}
.ui{
    justify-content: space-around;
    color: white;
    background-color: white;
    padding: 90px;
    
}
