.appBar {
    border-radius: 15px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #3c3c3c;
    padding: 20px;
    width: 1400px;
  }
 .head {
    color: white;
    text-decoration: none;
    font-size: 2em;
    font-weight: 300;
    margin-left: 510px;
  }
  .brandContainer{
    text-decoration: none;
  }